{% extends "layout.twig" %}

{% block content %}

    <div class="container">

        <div id="header">
            <img src="{{ base_url() }}/img/logo-cpnv.png" alt="Cpnv-logo">
            <p>Suivi par <span class="count" data-number="{{ totalCount }}">{{ totalCount }}</span> personnes sur les réseaux sociaux !</p>
        </div>

        <div class="row">

            <div class="col-md-12">
                <div class="box">
                    <div class="row">

                        <div class="col-md-3">
                            <div class="left-box">
                                <img class="media-logo" src="{{ base_url() }}/img/logo_fb.png" alt="Facebook logo">
                                <div class="count" data-number="{{ facebook.fanCount }}"></div>
                                <div class="sub-text">
                                    Likes
                                </div>
                            </div>
                        </div>
                        <div class="border-dotted-left col-md-9">
                            <div class="right-box">
                                <div class="posts">
                                    <h3>Derniers posts</h3>
                                    {% for post in facebook.posts|slice(0,3) %}
                                        <span class="post-date"><i>{{ post.created_time.date | date("d.m.Y - H:i") }}</i></span>
                                        <p class="post-message">
                                            {{ post.message ? post.message : "Aucun message"}}
                                        </p>
                                    {% endfor %}
                                    <a href="https://www.facebook.com/cpnv.ch/" target="_blank" title="Page facebook CPNV">Voir la page facebook</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="box">
                    <div class="row">

                        <div class="col-md-3">
                            <div class="left-box">
                                <img class="media-logo" src="{{ base_url() }}/img/logo_instagram.png" alt="Instagram logo">
                                <div class="count" data-number="{{ instagram.subscribersCount }}"></div>
                                <div class="sub-text">
                                    Subscribers
                                </div>
                            </div>
                        </div>
                        <div class="border-dotted-left col-md-9">
                            <div class="right-box">
                                <div class="medias">
                                    <h3>Dernières images</h3>
                                    <div class="row">
                                        {% for edge in instagram.edges|slice(0,3) %}
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                                <div class="media">
                                                    <img src="{{ edge.node.thumbnail_resources.0.src }}" alt="Media instagram">
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <a href="https://www.instagram.com/cpnv.ch/" target="_blank" title="Page instagram CPNV">Voir la page instagram</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="box">
                    <div class="left-box">
                        <img class="media-logo" src="{{ base_url() }}/img/logo_twitter.png" alt="Twitter logo">
                        <div class="count" data-number="{{ twitter.followersCount }}"></div>
                        <div class="sub-text">
                            Followers
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


{% endblock %}
